@-webkit-keyframes menuAnimation {
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes menuAnimation {
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-webkit-keyframes headerTextAnimation {
    100% {
        opacity: 1;
        -webkit-transform: translateX(40%);
        transform: translateX(40%)
    }
}

@keyframes headerTextAnimation {
    100% {
        opacity: 1;
        -webkit-transform: translateX(40%);
        transform: translateX(40%)
    }
}

@-webkit-keyframes footerFormAnimation {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@keyframes footerFormAnimation {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}
