.section__header_menu {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 40%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    z-index: 2;
}

.section__header_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    float: left;
    font-weight: 600;
}

.section__header_menu.anim-active > ul > li {
    -webkit-transform: translateX(120px);
    transform: translateX(120px);
    opacity: 0;
    -webkit-animation: menuAnimation 0.5s normal forwards ease-in-out;
    animation: menuAnimation 0.5s normal forwards ease-in-out;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.section__header_menu.anim-active ul li.black {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

.section__header_menu ul li {
    display: inline-block;
    background-color: #fec200;
    outline: none;
    border: none;
    margin-left: -0.5px;
}

.section__header_menu > ul > li::after {
    content: '›';
    position: absolute;
    top: 9px;
    right: 5px;
    transform: rotate(90deg);
    font-size: 1.5rem;
}

.section__header_menu ul li.black {
    background-color: #222;
    color: #fec200;
}

.section__header_menu a {
    display: block;
    padding: 0 15px 0 8px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.section__header_menu a:hover {
    background-color: #dca800;
}

.section__header_menu li.black a:hover {
    background-color: #212121;
}

.section__header_menu ul ul {
    display: none;
    position: absolute;
    top: 40px;
    text-align: left;
}

.section__header_menu ul li:hover > ul {
    display: inherit;
}

.section__header_menu ul ul li {
    width: 120px;
    float: none;
    display: list-item;
    position: relative;
    background-color: #222;
    color: #fec200;
    font-size: 1rem;
    -webkit-transition: none;
    transition: none;
}

.section__header_menu ul ul li a:hover {
    background-color: #212121;
}

.burger_menu {
    display: none;
    width: 30px;
    padding-left: 5px;
    height: 45px;
    box-sizing: border-box;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.burger_menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #212121;
    border-radius: 60px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger_menu span:nth-child(1) {
    top: 0px;
}

.burger_menu span:nth-child(2), .burger_menu span:nth-child(3) {
    top: 7px;
}

.burger_menu span:nth-child(4) {
    top: 14px;
}

.section__header_menu:hover .burger_menu span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.section.section__header .section__header_menu:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section__header_menu:hover .burger_menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section__header_menu:hover .burger_menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.section__header_menu:hover .burger_menu span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
