@import url(animation.css);
@import url(media-queries.css);
@import url(header-menu.css);

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

html {
    font-size: 10px;
    height: 100%;
}

.section {
    overflow: hidden;
    position: relative;
}

.section__wrapper {
    min-height: 340px;
    height: 100%;
}

.wrapper_content {
    max-width: 980px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
}

/**
SECTION HEADER
 */

.section__header {
    background: url(/src/img/1.jpg) no-repeat center;
    height: 670px;
    background-size: cover;
}

.section__header .section__wrapper:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    bottom: -100%;
    left: -5%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: 1;
    -webkit-transform-origin: right;
    transform-origin: right;
}

.section__header .section__wrapper:before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    bottom: -100%;
    right: -5%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: 1;
    -webkit-transform-origin: left;
    transform-origin: left;
}

@supports (((-webkit-clip-path: polygon(100% 0, 100% 97%, 67% 100%, 0 91%, 0 0)) or
            (clip-path: polygon(100% 0, 100% 97%, 67% 100%, 0 91%, 0 0)))) {

    .section__header {
        -webkit-clip-path: polygon(100% 0, 100% 97%, 67% 100%, 0 91%, 0 0);
        clip-path: polygon(100% 0, 100% 97%, 67% 100%, 0 91%, 0 0);
    }

    .section__header .section__wrapper:after,
    .section__header .section__wrapper:before {
        content: none;
    }

}

.section__header .img-logo {
    float: left;
    height: 45px;
    left: 10px;
    padding-top: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.header_text.anim-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: headerTextAnimation 0.5s normal forwards ease-in-out;
    animation: headerTextAnimation 0.5s normal forwards ease-in-out;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    opacity: 0;
    vertical-align: middle;
}

.header_text.anim-active .text-right {
    -webkit-transform: translateX(-450px);
    transform: translateX(-450px);
    -webkit-animation: menuAnimation 0.5s normal forwards ease-in-out;
    animation: menuAnimation 0.5s normal forwards ease-in-out;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    opacity: 0;
}

.header_text {
    text-align: left;
    font-weight: 600;
    color: #ffd200;
    position: absolute;
    top: 50%;
    border-left: 8px solid #ffd200;
    font-size: 0;
    padding-left: 10px;
    line-height: 0;
    right: 40%;
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    width: 434px;
    z-index: 1;
}

.header_text__primary-text,
.header_text__secondary-text {
    text-transform: uppercase;
}

.header_text__secondary-text {
    display: block;
    text-align: left;
    font-size: 2.2rem;
    line-height: 2rem;
    margin-bottom: 25px;
}

.header_text__primary-text {
    font-size: 7rem;
    line-height: 5.1rem;
    font-weight: 900;
    display: inline-block;
}

.text-left {
    color: #ffd200;
    padding-right: 20px;
}

.text-right {
    color: #222222;
}

.section__header::after {
    content: '';
    top: 0;
    left: 0;
    background-color: #222;
    opacity: 0.85;
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.section__header::before {
    content: '';
    top: 0;
    right: 0;
    background-color: #ffc800;
    opacity: 0.85;
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.section__content .wrapper_content,
.section__footer .wrapper_content {
    margin: 36px auto;
}

.section__primary-text {
    text-align: center;
    text-transform: uppercase;
    line-height: 6rem;
    font-size: 4rem;
    padding: 30px 0;
    position: relative;
}

.section__secondary-text {
    font-size: 1.6rem;
    color: #757575;
    margin: 30px 0;
}

/***
SECTION CONTENT
 */

.section__content .section__secondary-text {
    text-align: center;
    display: block;
    /* margin: 20px 0; */
}

.section__content .section__primary-text {
    color: #222222;
}

.section__primary-text::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 160px;
    height: 1px;
    background-color: #ffc300;
    bottom: 0;
    right: calc(50% - 80px);
}

.section__primary-text::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 44px;
    height: 4px;
    background-color: #ffc300;
    bottom: -4px;
    right: calc(50% - 22px);
}

/**
SECTION FOOTER
 */

.section__footer {
    min-height: 880px;
    font-size: 2.1rem;
    background: url(/src/img/2.jpg) no-repeat left;
    background-size: cover;
}

.section__footer .section__wrapper:after {
    content: '';
    position: absolute;
    width: 85%;
    height: 100%;
    background-color: #fff;
    top: -100%;
    right: -10%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    z-index: 1;
}

.section__footer .section__wrapper:before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #fff;
    top: -100%;
    left: -15%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    z-index: 1;
}

@supports (((-webkit-clip-path: polygon(34% 0, 100% 7%, 100% 100%, 0 100%, 0 6%)) or
        (clip-path: polygon(34% 0, 100% 7%, 100% 100%, 0 100%, 0 6%)))) {

    .section__footer {
        -webkit-clip-path: polygon(34% 0, 100% 7%, 100% 100%, 0 100%, 0 6%);
        clip-path: polygon(34% 0, 100% 7%, 100% 100%, 0 100%, 0 6%);
    }

    .section__footer .section__wrapper:after,
    .section__footer .section__wrapper:before {
        content: none;
    }
}

.section__footer .section__primary-text {
    color: #fff;
}

.section__footer::after {
    content: '';
    top: 0;
    left: 0;
    background-color: #222;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.section__footer .wrapper_content {
    position: relative;
    z-index: 1;
}

.section__footer .section__secondary-text {
    color: #d2d1cc;
    margin: 30px 0;
    display: block;
}

.section__footer-form {
    max-width: 420px;
    margin: 60px auto;
}

.section__footer-form input,
.section__footer-form textarea {
    width: 100%;
    background: transparent;
    outline: 1px solid #909092;
    outline-offset: -1px;
    color: #fff;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.4rem;
    -webkit-transition: 0.3s ease-in-out outline;
    transition: 0.3s ease-in-out outline;
}

.section__footer-form input:focus,
.section__footer-form textarea:focus {
    outline: 1px solid #ffc300;
}

.section__footer-form textarea {
    min-width: 100%;
    max-width: 100%;
    margin: 20px 0;
    min-height: 120px;
    max-height: 240px;
}

.section__footer-form button {
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #b98f00;
    cursor: pointer;
}

.section__footer-form form:valid button {
    background-color: #ffc300;
}

.section__footer-form input:valid + .footer-form__check,
.section__footer-form textarea:valid + .footer-form__check {
    opacity: 1;
}

.section__footer-form textarea:valid + .footer-form__check {
    top: 30px;
}

.footer-form__check:before {
    content: '✔';
    line-height: 1.2rem;
    top: 0px;
    font-size: 0.8rem;
    position: absolute;
    left: 3px;
}

.footer-form__check {
    position: absolute;
    background-color: #00a53a;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    top: 22px;
    right: 10px;
    opacity: 0;
    -webkit-transition: 0.125s ease-in-out opacity;
    transition: 0.125s ease-in-out opacity;
}

.section__footer-form.anim-active {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
    -webkit-animation: footerFormAnimation 0.5s normal forwards ease-in-out;
    animation: footerFormAnimation 0.5s normal forwards ease-in-out;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.section__footer-form p {
    position: relative;
    margin: 10px 0;
}

.section__footer-form.need-anim {
    opacity: 0;
}
