@media only screen and (max-width: 600px) {
    @supports (((-webkit-clip-path: polygon(100% 0, 100% 99%, 96% 100%, 0 91%, 0 0)) or
            (clip-path: polygon(100% 0, 100% 99%, 96% 100%, 0 91%, 0 0)))) {

        .section.section__header {
            -webkit-clip-path: polygon(100% 0, 100% 99%, 95% 100%, 0 94%, 0 0);
            clip-path: polygon(100% 0, 100% 99%, 95% 100%, 0 94%, 0 0);
        }
    }
    .section.section__header {
        height: 500px;
    }

    .section.section__header::before,
    .section.section__header::after {
        width: 50%;
    }

    .section.section__header .section__header_menu {
        right: 35px;
    }

    /**
     HEADER MENU
     */
    .section.section__header .section__header_menu .burger_menu {
        display: block;
    }

    .section.section__header .section__header_menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 65px;
    }

    .section.section__header .section__header_menu > ul {
        right: 26px;
        padding-right: 15px;
        display: none;
    }

    .section.section__header .section__header_menu ul ul {
        right: 100%;
        top: 0;
    }

    .section.section__header_menu.anim-active > ul > li {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .section.section__header .section__header_menu > ul > li::after {
        top: 10px;
        left: 5px;
        right: inherit;
        transform: rotate(180deg);
    }

    .section.section__header .section__header_menu a {
        padding: 0 8px 0 15px;
    }
    /**
    END HEADER MENU
     */

    .section.section__header .header_text__primary-text {
        font-size: 3.6rem;
        line-height: 3.2rem;
    }

    .section.section__header .header_text {
        right: 50%;
        top: 45%;
        -webkit-animation: none;
        animation: none;
        opacity: 1;
        -webkit-transform: translateX(45%);
        transform: translateX(45%);
        width: 260px;
    }

    .section.section__content .wrapper_content {
        margin-top: 80px;
        margin-bottom: 150px;
    }

    @supports ((clip-path: polygon(5% 0, 100% 7%, 100% 100%, 0 100%, 0 1%))) or
                (-webkit-clip-path: polygon(5% 0, 100% 7%, 100% 100%, 0 100%, 0 1%)) {

        .section.section__footer {
            -webkit-clip-path: polygon(5% 0, 100% 3%, 100% 100%, 0 100%, 0 1%);
            clip-path: polygon(5% 0, 100% 3%, 100% 100%, 0 100%, 0 1%);
        }
    }
}
